<div class="mt-20">
  <header>
    <section class="textos-header" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-duration="1500">
      <h1 class=" border-red-400 border-2">
        UN LEGADO ANCESTRAL
      </h1><br>
      <h2 class="font-serif text-white border-red-400 border-2">
        TU ACCESORIO CULTURAL</h2>
    </section>
  </header>

  <div class="bg-red-50">
    <section id="historia" class="container mx-auto px-4 p-8">
      <h1 class="text-center font-serif text-6xl text-red-400">
        Historia
      </h1>
      <p class="font-ubuntu text-center text-2xl mt-6">
        La empresa situada en La Guajira, fusiona las técnicas ancestrales de tejido con la innovación tecnológica a
        través de una app que permite a clientes de todo el mundo adquirir y personalizar las icónicas mochilas Wayuu.
      </p>
    </section>

    <section class="w-full px-6 py-12 ">
      <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12">

        <!-- Card Misión -->
        <div class="bg-red-400 rounded-2xl shadow-lg p-8 hover:scale-110 transition-all duration-150">
          <h3 class="text-4xl font-bold text-white mb-4 text-center font-serif">Nuestra Misión</h3>
          <hr><br>
          <p class="text-white leading-relaxed text-center font-ubuntu text-xl">
            Preservar y difundir la tradición Wayuu mediante mochilas artesanales auténticas, sostenibles y de comercio
            justo,
            llevando la cultura de La Guajira al mundo.
          </p>
        </div>

        <!-- Card Visión -->
        <div class="bg-red-400 rounded-2xl shadow-lg p-8 hover:scale-110 transition-all duration-150">
          <h3 class="text-4xl font-bold text-white mb-4 text-center font-serif">Nuestra Visión</h3>
          <hr><br>
          <p class="text-white leading-relaxed text-center font-ubuntu text-xl">
            Para el 2030 ser la empresa más reconocida de Latinoamérica en la venta de mochilas Wayuu por su
            personalización,
            autenticidad y conexión cultural.
          </p>
        </div>

      </div>
    </section>

    <section class="container mx-auto px-4 py-12">
      <div class="flex flex-col md:flex-row justify-center items-center gap-12">

        <!-- Left Section -->
        <div class="flex flex-col justify-center items-center w-full md:w-1/2">
          <h1 class="text-4xl font-bold font-serif mb-4 text-center text-red-400">Origen de la Mochila Wayuu</h1>
          <iframe id="video1" src="https://www.youtube.com/embed/aaD7v8KntC8?si=IW65QDmE5Rv6VJxE"
            class="w-full max-w-[900px] aspect-video rounded-xl shadow-xl" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>

        <!-- Right Section -->
        <div class="flex flex-col justify-center items-center w-full md:w-1/2">
          <h1 class="text-4xl font-bold font-serif mb-4 text-center text-red-400">Creación de la Mochila</h1>
          <iframe id="video2" src="https://www.youtube.com/embed/9nuDt8FBfOM?si=gfJ2L-fJpmIpdj-h"
            class="w-full max-w-[900px] aspect-video rounded-xl shadow-xl" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>

      </div>
    </section>

  </div>
  <section class=" bg-red-400">
    <p class="font-serif text-white text-center p-2">© 2025. Julieth Morillo. Todos los derechos reservados</p>
  </section>

</div>
